/* 全局樣式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}



/* 容器樣式 */
.container {
    display: flex;
    flex-wrap: wrap;
}

/* 側邊欄樣式 */
.sidebar {
    /* background-color: #ffcc00; */
    /* 黃色 */
    width: 20%;
    padding: 1em;
}

.sidebar h2 {
    color: #004080;
    /* 深藍色 */
}

.sidebar ul {
    margin-top: 3em;
    list-style: none;

}

.sidebar ul li {
    margin: 1em 0;
}

.sidebar ul li a {
    color: #004080;
    /* 深藍色 */
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    aside {
        background-color: #004080;
    }

    .sidebar ul li a {
        color: #fff;
        /* 深藍色 */
        text-decoration: none;
    }
}

/* 主要內容樣式 */
main {
    flex-grow: 1;
    padding: 1em;
}

section h2 {
    color: #004080;
    /* 深藍色 */
}

/* 表單樣式 */


.container-confirm,
.container-resume {
    position: fixed;
    top: 10%;
    left: 30%;
    width: 40%;
    height: 50%;
}

.container-form {
    background-color: #ffcc00;
    padding: 20px;
    border-radius: 5px;
    /* display: flex; */
}


.container-form h2 {
    color: #004080;
    /* 深藍色 */
}

.container-form label {
    display: block;
    margin: 1em 0 0.5em;
    color: #004080;
    /* 深藍色 */
}

.container-form input[type="text"],
.container-form input[type="file"],
.container-form select {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container-form button {
    background-color: #004080;
    /* 深藍色 */
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}

.container-form button:hover {
    background-color: #003060;
    /* 更深的藍色 */
}

/* 按鈕樣式 */
button {
    background-color: #004080;
    /* 深藍色 */
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #003060;
    /* 更深的藍色 */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

/* 顯示區域樣式 */

#areaStatus {
    background-color: #fff;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
    margin-bottom: 40px;
    width: 70%;
}



/* 隱藏元素 */
.hidden {
    display: none;
}


/* ------------------------------頁首------------------------------ */
/* 頁首樣式 */
/* header {
    background-color: #004080;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    font-size: 1.5em;
} */
body,
h1 {
    margin: 0;
    padding: 0;
}


nav {
    position: sticky;
    top: 0;
    background-color: #004080;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.navbar-brand img {
    /* background-color: black; */
    height: 61px;
    width: 134px;
    padding: 5px 0;
}

.navbar-brand h1 {
    margin: 0;
    padding-left: 10px;
    font-size: 1.5rem;
}

#nav-toggle {
    display: none;
}

nav label {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    display: block;
}

@media (max-width: 576px) {
    nav>div>label {
        display: block;
        color: #fff;
    }

    nav>div>ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #004080;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    }

    #nav-toggle:checked+label+ul {
        display: flex;
    }
}

/* ------------------------------頁首------------------------------ */
/* ------------------------------頁尾------------------------------ */

/* 頁尾樣式 */
footer {
    background-color: #004080;
    /* 深藍色 */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* ------------------------------頁尾------------------------------ */